<% content_for :title, @campaign.name %>

<div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class='title'>Campaign: <%= @campaign.name %></h1>
      <table class='table'>
        <tr>
          <th>Candidate</th>
          <th>Score</th>
        </tr>

        <tr>
          <% Campaign.duplicate_names(@valid_votes).each do |key,value| %> 

          <td><%= key.name %></td>
          <td><%= value %></td>
        </tr>
        <% end %>

      </table>
      <p><%= link_to 'Back', '/' %></p>
    </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3 class='title'>Votes not counted</h3>
      <table class='table'>
        <tr>
          <th>Candidate</th>
          <th>Not Counted</th>
        </tr>

        <tr>
          <% Campaign.duplicate_names(@invalid_votes).each do |key,value| %> 

          <td><%= key.name %></td>
          <td><%= value %></td>
        </tr>
        <% end %>
      </table>
    </div>
  <div class="col-md-4"></div>
</div>



